.sponsor-catalog {
    min-height: min-content;
    background-color: var(--muted-tan);
    display: flex;
    justify-content: center;
    flex-direction: column;


    h2 {
        padding: var(--padding-large);
    }

    .scroll-x-container {
        width: 100%;
        height: min-content;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        display: flex;
        flex-direction: column;
        gap: var(--block-gap);
        scroll-padding: var(--padding-large);


        .sponsor-deck {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: unset;
            grid-auto-columns: 1fr;
            min-width: fit-content;
            padding: 0 var(--padding-large);
            gap: var(--inline-gap);


            .sponsor-card {
                width: 500px;
                aspect-ratio: 1 / 1;
                display: grid;
                grid-template-rows: 1fr 1fr;
                scroll-snap-align: start;
                overflow: hidden;


                .display {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: var(--block-gap);


                    img {
                        width: 60%;
                        height: min-content;
                        object-fit: cover;
                    }

                    .underline {
                        width: 10%;
                        height: 2px;
                        background-color: var(--dark-green);
                    }
                }

                .content {
                    
                }
            }
        }
    }

    .divider {
        box-sizing: border-box;
        border-bottom: 2px solid var(--dark-green);
        max-width: 100%;
        margin: var(--padding-large) 40px;
        display: flex;
        justify-content: end;
        gap: 10px;
        padding-bottom: var(--padding-small);


        .switch {
            border-radius: 100%;
            height: 40px;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--dark-green);
            border: 1px solid var(--dark-green);
            transition: background-color 0.25s ease, color 0.25s ease;


            svg {
                height: 18px;
            }
        }

        .switch:hover {
            background-color: var(--dark-green);
            color: var(--white);
        }
    }


}