.Sponsors {
    


    .playable-thumbnail {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background: 
            linear-gradient(7deg, rgba(0, 0, 0, 0.9), transparent 95%),
            url("/images/steelhead_underwater.jpg") center / cover no-repeat;
        display: flex;
        justify-content: start;
        align-items: end;
        padding: var(--padding-large);
        box-sizing: border-box;
    }

    .tiers {


        .title {
            padding: var(--padding-large);
            box-sizing: border-box;
            border-block: 2px solid var(--dark-green);
        }
    }
}