.Projects {
    width: 100%;
    height: 100%;

    .title-card {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .header {
            padding: 100px 20px 10px 20px;
        }

        .subteam-selector {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: grid;
            grid-template-columns: auto auto auto;

            .subteam-option {
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: end;

                img {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    /* filter: saturate(0.6); */
                    transition: 0.25s;
                    z-index: -1;
                }

                .img-mask {
                    position: absolute;
                    inset: 0;
                    background-color: black;
                    opacity: 0.2;
                    width: 100%;
                    height: 100%;
                }

                .content {
                    height: min-content;
                    display: flex;
                    flex-direction: column;
                    padding: var(--padding-regular);
                    opacity: 0;
                    transform: translateY(20px);
                    transition: 0.25s;

                    h3 {
                        color: var(--white);
                    }

                    p {
                        color: var(--white);
                    }
                }
            }

            .subteam-option:hover img {
                filter: saturate(1);
            }

            .subteam-option:hover .content {
                opacity: 1;
                transform: translateY(0);
            }
        }

    }

}