


@font-face {
  font-family: 'CreatoDisplay';
  src: url('assets/fonts/CreatoDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('assets/fonts/CreatoDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: url('assets/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: CreatoDisplay, Helvetica, sans-serif;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;


  --white: #ffffff;
  --black: #000000;
  --dark-gray: #313131;
  --light-gray: #D9D9D9;

  --dark-green: #0C282F;
  --pastel-green: #869497;
  --muted-green: #DBDFE0;
  --muted-tan: #F1EFEB;
  --yellow: #FFC300;


  --maximum-content-width: 1260px;
  --minimum-content-width: 320px;


  --padding-small: 10px;
  --padding-regular: 20px;
  --padding-large: 40px;

  --inline-gap: 40px;
  --block-gap: 20px;
  --block-gap-reduced: 10px;

  --fontsize-secondary: 20px;
  --fontsize-regular: 24px;
  --fontsize-large: 32px;
  --fontsize-title: 48px;
  --fontsize-main: 64px;
  --fontsize-header: 96px;

}


/* HEADER | h1 - 96px | Creato Display */
h1 {
  font-size: clamp(3rem, 10vw, 6rem);
  font-family: CreatoDisplay, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: var(--black);
  line-height: 1;
}

/* Main | h2 - 64px | Creato Display */
h2 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-family: CreatoDisplay, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: var(--black);
  line-height: 1;
}

/* Title | h3 - 48px | Creato Display */
h3 {
  font-size: clamp(1.5rem, 4.5vw, 3rem);
  font-family: CreatoDisplay, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: var(--black);
}

/* Main Text | h4 - 32px | Creato Display */
h4 {
  font-size: clamp(1rem, 2.25vw, 2rem);
  font-family: CreatoDisplay, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: var(--black);
}

/* Regular Text | p - 24px | Creato Display */
p {
  font-size: clamp(0.75rem, 2.25vw, 1.5rem);
  font-family: CreatoDisplay, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: var(--black);
}

/* Secondary Text | span - 20px | Creato Display */
span {
  font-size: clamp(0.625rem, 1.875vw, 1.25rem);
  font-family: CreatoDisplay, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: var(--dark-gray);
}


/* Important Classes */
.padded-row {
  padding-inline: clamp()
}


/* Stuff to remove scrollbars */
html, body {
  height: 100%;
  max-width: 100%;
  /* overflow-x: hidden; !breaks scrollbar! */
  scrollbar-gutter: stable;
}

* {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

svg {
  width: auto;
  height: 100%;
}

img {
  outline: none;
  border: none;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

input {
  font-family: CreatoDisplay, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

iframe {
  outline: 0;
  border: none;
}

a {
  font-family: CreatoDisplay, Helvetica, sans-serif;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.button-primary {
  color: var(--black);
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.4em 0.8em;
  font-size: clamp(1rem, 2.25vw, 1.5rem);
  font-weight: 500;
  font-family: CreatoDisplay;
  background-color: var(--yellow);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button-primary:hover {
  border-color: #646cff;
}


/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
