.highlight-panel {
    width: 100%;
    height: 600px;
    display: flex;
    gap: 20px;


    .panel-list {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;

        .highlight-card {
            padding: 20px;
            width: 100%;
            border-bottom: 2px solid var(--dark-green);
            position: relative;
            overflow: hidden;
            display: flex;
            flex-wrap: nowrap;

            .card-content {
                width: 100%;
                height: 100%;
                filter: invert(1);
                mix-blend-mode: difference;

                display: flex;
                justify-content: space-between;

                h3 {
                    width: 75%;
                }

                svg {
                    fill: var(--dark-green);
                    height: auto;
                    width: auto;
                    aspect-ratio: 1 / 1;
                    position: absolute;
                    top: -100%;
                    right: 0;
                    transition: 0.2s ease;
                }
            }
        }

        .card-underlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: -100%;
            left: 0;
            transition: 0.2s ease;
            background-color: var(--dark-green);
        }

        .highlight-card:hover .card-underlay {
            top: -2%;
        }

        .highlight-card:hover svg {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .panel-display {
        flex: 1;
        position: relative;
        display: flex;
        align-items: end;
        
        > img {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: -1;
        }

        .content {
            display: flex;
            height: min-content;
            width: 100%;
            justify-content: end;
            flex-direction: column;
            padding: 20px;

            img {
                width: auto;
                height: 50px;
            }

            p {
                color: var(--white);
            }
        }
    }
}